/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@-moz-document url-prefix() {
 .gform_wrapper li.hidden_label input{
		margin-top: -2px !important;
	}
}
.page-id-900399 .uabb-module-content.uabb-ib2-outter.uabb-new-ib.uabb-ib-effect-style14 {
    max-height: 351px;
}
.page-id-900399 .uabb-new-ib-content.uabb-text-editor.uabb-simplify {
    min-height: 141px;
}
#menu-footer-flooring li:hover ul.sub-menu li a{
	background: transparent !important;
}
#menu-footer-flooring li:hover ul.sub-menu li a span{
	color: #fff !important;
}
.fl-slide-1 .fl-row > .fl-row-content-wrap:after {
	height: 600px !important;
}
.fl-slide-1 .fl-slide-foreground{
	max-width: 100% !important;
}
.uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle{
	padding-left: 4px !important;
}
.gform_wrapper.gf_browser_safari .gfield_checkbox li input, .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio] {
    margin-top: -3px !important;
}
.f-0 h1{
	font-size: 0px !important;
}
.fl-post-title,
.fl-archive-title,
.fl-node-5cd3edbf6b3ff .direction a span,
a.fl-button:hover span{
	    color: #1161a0 !important;
}
.uabb-gf-style .gform_wrapper form .gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
	padding: 15px 10px !important;
}

header .phone a span{
	color: #fff !important;
}
header .phone a span:before{
	content: "\f1f8";
	font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
	font-size: 23px;
    vertical-align: text-bottom;
    margin-right: 8px;
}
body p,
body span,
.uabb-creative-menu a{
	line-height: 1.5 !important;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
}
.searchIcon .fl-icon .ua-icon-search{
    cursor: pointer;
}
.fl-module-uabb-advanced-menu  .uabb-creative-menu .menu > li > a{
	font-family: Prata, serif !important;
}
#responsive-menu-search-box {
    padding: 5px 5%!important;
}
.uabb-image-carousel .slick-arrow {
	background-color: transparent!important;
}

.uabb-image-carousel .slick-arrow > i {
	    background-color: #f4f4f4!important;
}

.uabb-image-carousel .slick-arrow > i:before {
	    color: #000!important;
}
#responsive-menu-additional-content {
    padding: 5px 5%!important;
}

#responsive-menu-container #responsive-menu-additional-content .phone a span:before{
	    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span{
    color: #fff!important;
}
.video_slider .slider-content .panel-wrapper .slider-content-wrapper{
		display: flex!important;
	    flex-direction: column!important;
	    align-items: center!important;
}

#main-slider_4 .image-block_4, #main-slider_4.image-block_4 a, #main-slider_4 .image-block_4 a img{
	width: 100%!important;
}

#main-slider_4{
	height: auto!important;
}
#main-slider_4 .slider-content-wrapper .right-block .title {
    font-size: 30px !important;
    line-height: 1.6em !important;
    color: #cc252a;
    text-transform: capitalize;
}

.ls-nav-right-arrow, .ls-nav-left-arrow {
	    top: 40%!important;
}


.ui-datepicker-title select{
    color: #000!important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img{
    max-height: 65px!important;
}


a.button, a.fl-button, 
a.fl-button:visited, 
.fl-builder-content a.fl-button, 
.fl-builder-content a.fl-button:visited {
    border-radius: 0px;
    /* padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none; */
}
.gform_wrapper .gfield_required {
    color: #790000 !important;
}


.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
    cursor: pointer;
}

.storename{
    padding: 0px;
    list-style: none;
}

.fl-node-5cbdc4497c6a0 .storename span{
  color: #fff !important;
}

.storename p,
.storename span{
    margin: 0px !important;
    color: #000 !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}

.slide.slick-slide {
    text-align: center;
}

.footer-col .storename p,
.footer-col .storename span{
    margin: 0px !important;
    color: #fff !important;
}

.fl-node-5cd3edbf6b3ff .direction a{
  width: 100%;
  text-align: center;
}

.fl-node-5cd3edbf6b3ff .direction a span{
  color: #fff !important;
}
.fl-node-5cd3edbf6b3ff .direction a:hover span{
  color: #1161a0  !important;
}

.active-gallery-modal .product-box a.fl-button{
    background: #000;
    border: 1px solid #000;
}
.fl-node-5cd3f63eca9d5 .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover, .fl-node-5cd3f63eca9d5 .uabb-gf-style .gform_page .gform_page_footer input[type=button]:hover, .fl-node-5cd3f63eca9d5 .uabb-gf-style .gform_page .gform_page_footer input[type=submit]:hover{
	color: #fff !important;
}

.active-gallery-modal .product-box a.fl-button:hover{
    background: #cc252a;
    border: 1px solid #981c1f;
}

.store-opening-hrs li {
    padding: 10px;
}

#gform_submit_button_3{
  border-radius: 0px;
}

/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


ul#topbar li a:hover {
  color: #111111;
}

.gform_wrapper .ginput_container_time input, .gform_wrapper .ginput_container_time select{
    padding: 5px!important;
}
.ginput_container_time select{
    min-width: 60px!important;
    width: 60px!important;
}

.ginput_container_checkbox ul li a{
    color: #000!important;
}

.gform_wrapper .gfield_time_hour i{
    margin-top:-2px!important;
}

/* .fl-module-advanced-tabs .ua-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "FontAwesome";
 }
 .fl-module-advanced-tabs .ua-icon-chevron-down2:before{
    content: "\f078";
 } */

/*------------------END TOP BAR STYLES ------------------*/


@media(max-width:1080px){
    .gform_wrapper #field_17_2, .gform_wrapper #field_17_7{
        padding-right: 0px!important;
    }
    .gform_wrapper li input{
        width: 100%!important;
        display: block;
    } 
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 4px;
        font-size: 13px;
    }
    .fl-page-nav-right .fl-page-header-row .fl-page-nav-col{
        padding-left: 0px;
    }
}
/* @media(max-width:1024px){
	.post-900401  .uabb-infobox-title{
		font-size: 14px !important;
	}
} */
.ua-icon-icon-111-search2{
	cursor: pointer;
}
@media (max-width:768px){
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
}
	.fl-slide-1 .fl-slide-mobile-photo{
		display: none !important;
	}
	.fl-slide-1 .fl-row > .fl-row-content-wrap:after {
    height: auto !important;
}
	.fl-slide-1 .uabb-infobox-title{
		padding-top: 100px;
	}
    /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    } */
/* 	.post-900401 .uabb-image-carousel img{
		max-height: 500px;
	} */
	.uabb-ib2-hover{
		min-height: 320px !important;
	}
	.max-width-issue img{
		max-width: 400px !important;
		margin: 0 auto !important; 
	}
	.max-width-issue.max-280 img{
		max-width: 280px !important;
	}
	header .uabb-photo-content .uabb-photo-img{
		width: 240px;
	}
    .facet-inner .facetwp-checkbox{
        background-position: 0px 3px;
    }
    .fl-page-bar .text-left{
        width: 35%;
    }
    .fl-page-bar .text-right{
        width: 65%;
    }
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 10px;
    }
    .fl-page-nav-search{
        display: block;
    }
    
 }
 @media (max-width:767px){
    .fl-page-nav-search{
        display: none;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-page-bar .text-left{
        width: 100%;
    }
    .fl-page-bar .text-right{
        display: none;
    }
    

    #responsive-menu-additional-content a span{
        color: #fff;
    }
    .fl-content-slider-navigation a.disabled, .bx-controls a.disabled{
        color: #000!important;
        fill: #000!important;
    }

 }

 @media(max-width:450px){
    .footermenu .menu-item a{
        font-size: 14px;
    }
 }
@media(max-width:320px){
		header .uabb-photo-content .uabb-photo-img{
		width: 200px;
	}
}

 @media print {
    @page {
        size:'A4';
        margin: 0mm;
        text-align: center;
    }

    header, footer, .fl-page-bar, #button-print, .fl-module-rich-text{
        display: none!important;
    }
    
}

.container .row .product-detail-layout-6 .product-variations a {
    border: none!important;
    outline: none!important;
}
.container .row .product-detail-layout-6 .product-variations img {
    padding: 5px!important;
}

.container .row .product-detail-layout-6 .color-box {
    min-height: 50px;
}
.container .row .product-detail-layout-6 .color-box .color-boxs-inner{
    margin-bottom: 0px!important;
}
.product-detail-layout-6 .image-expander img{
    filter: drop-shadow(0px 0px 2px black);
}

/*New pdp css */
.container .row .product-detail-layout-6 #product-images-holder>div{
    background-size: cover!important;
}
@media(max-width: 1024px){
.product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media(max-width: 768px){
    .product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder:not(:first-child) a {
        margin-left: 10px!important;
    }
    .product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder a {
        margin-left: 10px!important;
    }   
.product-detail-layout-6 .imagesHolder #roomvo {
    width: 100%!important;
    padding-bottom: 0;
    left: 0px!important;
    padding: 0px!imporant;
    margin: 0px!imporant;
}
}
@media (max-width: 500px){
.product-detail-layout-6 .image-expander {
    right: 25px!important;
}
}
.product-detail-layout-6  .toggle-image-thumbnails{
    width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
    height: 30%!important;
    width: 30%!important;
    background-size: contain;
top: 30%!important;
    left: 35%;
}

.product-detail-layout-6 .product-variations img {
    max-height: 100px;
    min-width: 100px;
    min-height: 100px!important;
}


/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
    background-color: #1161a0!important;
    color: #fff!important;
    border-style: solid;
    border-width: 2px;
    border-color:#1161a0;
}

.product-detail-layout-6 .dual-button a:hover {
    color: #fff!important;
    background-color: #869bae!important;
    border-style: solid;
    border-width: 2px;
    border-color: #869bae;
}

.product-detail-layout-6 .button-wrapper>a {
    color: #fff!important;
    background-color: #1161a0!important;
    border-style: solid;
    border-width: 2px;
    border-color: #1161a0!important;
}

.product-detail-layout-6 .button-wrapper>a:hover {
    background-color: #869bae!important;
    color: #fff!important;
    border-style: solid;
    border-width: 2px;
    border-color: #869bae!important;
}